.profilePic {
  float: left;
  margin: 3px;
  margin-right: 10px;
}

.profilePic > img {
  border-radius: 3px;
}

.info {
  float: none;
}

div.additional-info {
  margin-left: 5px;
  margin-top: 5px;
}