{{#view view.ActorView}}
  created {{event.payload.ref_type}}
    {{#if event.payload.ref}}
      <a target="_blank" href="https://github.com/{{unbound event.repo.name}}/tree/{{unbound event.payload.ref}}">{{event.payload.ref}}</a>
    {{/if}}
{{/view}}