{{#view view.ActorView}}
  modified the <a target="_blank" href="{{unbound event.repo.html_url}}/wiki">wiki</a>
{{/view}}
<div class="additional-info" >
  {{#each event.payload.pages }}
    <span>{{echo "action"}} <a target="_blank" {{bindAttr href="html_url"}}>{{page_name}}</a></span>
  {{/each}}
</div>
